<h1>Templates</h1>
<h2><%= flash[:notice] %></h2>
<% if @user != nil%>
  <form id="checklist_aspects" action="/aspects/<%= @user.id %>" method="post">
    <% @templates.each do |template| %>
      <a href='/templates/<%= template.id %>'><%= template.name %></a>
      <input type="checkbox" name="aspect[<%= template.id %>]"><br>
    <% end %>
    <button>Submit</button>
  </form>

<%else%>

  <% @templates.each do |template| %>
    <a href='/templates/<%= template.id %>'><%= template.name %></a></br>
  <% end %>


<% end %>


<h2>New Template</h2>
<form id="create_template" method="post" action="/templates">
  <input id="template_name" name="template[name]" type="text" placeholder="Template Name">
  <input id="template_percentage" name="template[percentage]" type="text" placeholder="Percentage of Total Budget">
  <button>Create Template</button>
</form>
