<h1><%= @aspect.name %></h1>
<h4>This item is suggested to be <%= @aspect.percentage %> percent of your total budget.</h4>


<h2>Set your Priority for this Aspect</h2>

<form id="priority_choice" method="post" action="/aspects/<%= @aspect.id %>">
  <input name="_method" type="hidden" value="patch">
  <select id="priority_choice" name="aspect[priority]">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <button>Submit Priority</button>
</form>

<a href='/users/<%= @aspect.user_id %>'><button>Go Back</button></a> | <a href="/aspects/<%= @aspect.id %>"  data-confirm="Clicking OK will delete this aspect from your list." data-method="delete" rel="nofollow"><button>Remove Aspect</button></a>


